// colori principali
$primaryColor-1: #8e210b;
$primaryColor-2: white;


// colori secondari
$secondaryColor-1: #481005;
$secondaryColor-2: rgb(169, 168, 168);


// scala di grigi
$grey-1: rgb(169, 168, 168);
$grey-1: rgb(122, 121, 121);
$grey-1: rgb(79, 77, 77);

