<div class="container-title">
  <h1 ng [ngClass]="evidenziato ? 'testoEvidenziato' : '' "  (click)="onEvidenzazione()" style="cursor: pointer;">Benvenuti  in Cibando</h1>
  <p [ngStyle]="{'background-color': evidenziato ? 'yellow' : 'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, eos. Animi eveniet ipsa non ullam doloribus aperiam perspiciatis dolores fugit blanditiis hic. Assumenda, illo. Accusamus omnis laboriosam voluptatem ut similique!  </p>

  </div>

  <app-recipes></app-recipes>
